/* Main Stylesheet */

@font-face {
  font-family: 'Sirotica';
  src: url('Sirotica-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  transition: opacity 0.8s ease;
}

#preloader-percent {
  font-family: 'Sirotica', sans-serif;
  font-size: 16px;
  line-height: 1;
  color: #000;
}

body {
  font-family: 'Neue Haas Unica W1G', sans-serif;
  line-height: 1.2;
  font-size: 10px;
  margin: 0;
  padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {   
    text-decoration: underline;
}
a:visited {
    color: black;
}
p {
  margin: 0;
  padding: 0;
}

video {
  width: 100%;
}

.bigger {
  font-size: 24px;
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 4px;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.header div {
  padding-left: 4px;
  padding-right: 32px;
}

.header div span {
  display: block;
  margin-bottom: 0;
  line-height: 1.2;
}

.header div .section-title {
  display: block;
  margin-bottom: 0;
  margin-top: 0;
}

.header div .section-spacing {
  margin-top: 1.2em;
}

.header div .section-title.section-spacing {
  margin-top: 1.2em;
}

img {
  width: 100%;
}

.gallery {
  column-count: 5;
  column-gap: 4px;
  margin: 0;
  padding: 4px;
  margin-bottom: 120px;
}

.gallery img,
.gallery video {
  width: 100%;
  margin-bottom: 2px;
}

.block {
  margin-bottom: 12px;
  break-inside: avoid;
}

.block p {
  margin: 0;
  padding: 0;
  font-size: 10px;
  color: #666666;
  line-height: 1.4;
}

/* Responsive Design */
@media (max-width: 768px) {
  .header {
      grid-template-columns: 1fr;
      padding: 10px;
      row-gap: 1rem;
  }

  .header div {
      padding-left: 0;
      padding-right: 0;
      margin: 0;
  }

  .contact {
      column-count: 2;
      column-gap: 1rem;
  }

  .contact > u {
      column-span: all;
      display: block;
      margin-bottom: 0.5rem;
  }

  .contact a {
      display: block;
      padding: 0;
      break-inside: avoid;
  }

  .gallery {
      column-count: 2;
      padding: 0;
  }
}
